html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body * {
  -webkit-user-select: none;
}

.container {
  height: 100vh;
}

.grid-and-controls-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.controls-container {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.button {
  background-color: white;
  border-radius: 6px;
  padding: 10px 10px;
  margin: 3px;
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

#grid {
  display: grid;
}

.grid-item {
  border: 1px solid black;
}
